<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
</div>

<nb-actions size="medium" [class.right]="position === 'normal'"
[class.left]="position === 'inverse'" *ngIf="!isLoggedIn()">
  <nb-action *ngIf="isLoggedIn()">
    <nb-user [menu]="userMenu" [name]="user?.fullName" [picture]="user?.picture"></nb-user>
  </nb-action>
  <nb-action class="HomeNav" (click)="loginClick()">
    <div><i class="ion-log-in"></i></div><div><span>Login</span></div>
  </nb-action>
  <nb-action class="HomeNav register" (click)="registerClick()">
    <div><i class="ion-person-add"></i></div><div><span>Register</span></div>
  </nb-action>
  <nb-action class="HomeNav">
    <div><i class="ion-chatboxes"></i></div><div><span>Contact</span></div>
  </nb-action>
  <nb-action class="HomeNav">
    <div><i class="ion-bug"></i></div><div><span>Updates</span></div>
  </nb-action>
  <nb-action class="HomeNav">
    <div><i class="ion-asterisk"></i></div><div><span>Features</span></div>
  </nb-action>
</nb-actions>
