<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="board LED / GPIO 16" type="primary" pin="16">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 1" type="primary" pin="01">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 2" type="primary" pin="02">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 3" type="primary" pin="03">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 4" type="primary" pin="04">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 5" type="primary" pin="05">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 9" type="primary" pin="09">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 10" type="primary" pin="10">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 12" type="primary" pin="12">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 13" type="primary" pin="13">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 14" type="primary" pin="14">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="GPIO 15" type="primary" pin="15">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>
</div>
